@import 'base/reset';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';
@import 'layouts/header';
@import 'layouts/footer';

body {
	background-image: linear-gradient(90deg, #08fdd8 25%, #2098D1 75%);
	color: $defaultColor;
	font: {
		family: $fontStack;
		weight: normal;
		size: 14px;
	}
}

section {
	//padding: 70px 0;
	float: left;
	width: 100%;
	h2 {
		color: $whiteColor;
		text-align: center;
	}
	p {
		line-height: 25px;
	}
}

.container {
	max-width: 1200px;
	padding-right: 20px;
	padding-left: 20px;
	@include marginAuto;
	@include clearFix();
}

.twoSection {
	float: left;
	width: 50%;
	padding: 0 10px;
}

a {
	color: $secondaryColor;
}

.banner {
	@include parallaxImage($bgImage: url("../images/banner.jpg"), $minHeight: 100vh);
	text-align: center;
	padding-top: 25vh;
	.logo {
		max-width: 250px;
		@include marginAuto();
	}
	h1 {
		font: {
			size: 36px;
			weight: normal;
		}
		color: $whiteColor;
		margin: 30px 0;
	}
}

.creativity {
	@include parallaxImage($bgImage: linear-gradient(360deg, #08fdd8 25%, #2098D1 75%), $minHeight: 60vh);
	padding: 70px 0;
	strong {
		font-weight: bolder;
	}
	span {
		color: $whiteColor;
		font-size: calc(72px * 2);
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	@include mediaQuery(600px) {
		.twoSection {
			width: 100%;
		}
	}
	@include clearFix();
}

.singleCreative {
	@include parallaxImage($bgImage: url("../images/pillow.jpg"), $minHeight: 100vh);
}

.services {
	background-color: $secondaryColor;
	padding: 70px 0;
	.singleService {
		width: (100% / 4);
		padding: 20px;
		float: left;
		text-align: center;
		.fa {
			color: #f8693e;
			font-size: 120px;
		}
		h3 {
			color: $whiteColor;
		}
		p {
			line-height: normal;
		}
		&:hover {
			background-color: lighten($secondaryColor, 20%);
		}
		&:hover .fa {
			transform: scale(1.2);
			@include transition(all .5s ease 0s);
		}
		@include mediaQuery(767px) {
			width: 100%;
		}
	}
	@include clearFix();
}

.servicesAnimateOLD {
	@include parallaxImage($bgImage: linear-gradient($primaryColor 30%, $secondaryColor 70%), $minHeight: 100vh);
	padding: 70px 0;
	position: relative;
	span {
		font-size: 80px;
		//@include animation(servicesAnimate, 2s, .5s);
		position: absolute;
		bottom: 30vh;
		/* @for dollarspan from 1 through 5 {
		   	&:nth-child(#{dollarspan}) {
		       left: (15% + (dollarspan - 1) * 15%);
		       animation-delay: (2s + (dollarspan - 1) * 1);
		       //bottom: 0;
		       @include animation(servicesAnimate, 2s, .5s);
		   	}
	       	@include keyframes(servicesAnimate) {
	           0% { bottom: 0; transform: scale(1) }
	           100% { bottom: (70vh - (dollarspan - 1) * 10vh); transform: scale(1.3) }
	       	}
		} */
		@include mediaQuery(767px) {
			position: relative;
			//display: block;
			width: 96%;
			text-align: center;
			margin-bottom: 40px;
			@include transition(all 2s ease 0s);
			bottom: initial;
		}
	}
	&:hover span {
		&:nth-child(1) {
			@include animation(servicesAnimate, 2s, .5s);
			@keyframes servicesAnimate {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 70vh; transform: scale(1.3) }
			}
		}
		&:nth-child(2) {
			left: 30%;
			@include animation(servicesAnimateTwo, 3s, .5s);
			@keyframes servicesAnimateTwo {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 60vh; transform: scale(1.3) }
			}
		}
		&:nth-child(3) {
			left: 45%;
			@include animation(servicesAnimateThree, 4s, .5s);
			@keyframes servicesAnimateThree {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 50vh; transform: scale(1.3) }
			}
		}
		&:nth-child(4) {
			left: 60%;
			@include animation(servicesAnimateFour, 5s, .5s);
			@keyframes servicesAnimateFour {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 40vh; transform: scale(1.3) }
			}
		}
		&:nth-child(5) {
			left: 75%;
			@include animation(servicesAnimateFive, 6s, .5s);
			@keyframes servicesAnimateFive {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 30vh; transform: scale(1.3) }
			}
		}
	}
	&:hover span {
		@include mediaQuery(767px) {
			left: inherit !important;
			@include transition(all 2s ease 0s);
		}
	}
	@include mediaQuery(767px) {
		&:hover {
			&:nth-child(1) {
				@include animation(servicesAnimate, 2s, .5s);
				@keyframes servicesAnimate {
					100% { transform: scale(1.1) }
				}
			}
			&:nth-child(2) {
				@include animation(servicesAnimateTwo, 3s, .5s);
				@keyframes servicesAnimateTwo {
					100% { transform: scale(1.1) }
				}
			}
			&:nth-child(3) {
				@include animation(servicesAnimateThree, 4s, .5s);
				@keyframes servicesAnimateThree {
					100% { transform: scale(1.1) }
				}
			}
			&:nth-child(4) {
				@include animation(servicesAnimateFour, 5s, .5s);
				@keyframes servicesAnimateFour {
					100% { transform: scale(1.1) }
				}
			}
			&:nth-child(5) {
				@include animation(servicesAnimateFive, 6s, .5s);
				@keyframes servicesAnimateFive {
					100% { transform: scale(1.1) }
				}
			}
		}
	}
	/* @keyframes servicesAnimate {
		0% { bottom: 0; transform: scale(1) }
		100% { bottom: 70vh; transform: scale(1.3) }
	} */
}

.servicesAnimate {
	@include parallaxImage($bgImage: linear-gradient($primaryColor 30%, $secondaryColor 70%), $minHeight: 100vh);
	padding: 70px 0;
	position: relative;
	span {
		//font-size: 80px;
		//position: absolute;
		//bottom: 30vh;
		//&:nth-child(1) {
			//@include animation(slideRight, 2s, .5s);
			/* @keyframes slideRight {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 70vh; transform: scale(1.3) }
			} */
		//}
	}
	/* &:hover span {
		&:nth-child(1) {
			@include animation(servicesAnimate, 2s, .5s);
			@keyframes servicesAnimate {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 70vh; transform: scale(1.3) }
			}
		}
		&:nth-child(2) {
			left: 30%;
			@include animation(servicesAnimateTwo, 3s, .5s);
			@keyframes servicesAnimateTwo {
				0% { bottom: 0; transform: scale(1) }
				100% { bottom: 60vh; transform: scale(1.3) }
			}
		}
	} */
}

.portfolioBg {
	@include parallaxImage($bgImage: url("../images/portfolio.jpg"), $minHeight: 100vh);
	position: relative;
	//filter: blur(1px);
	.container {
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
	}
	h2 {
		//color: $primaryColor;
		color: $whiteColor;
		text-shadow: 5px 5px 7px #000;
		font-size: 7vw;
		/* transform: translateY(-50%);
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		position: absolute; */
		span {
			letter-spacing: 4px;
		}
	}
}

.portfolio {
	padding: 70px 0;
	min-height: 100vh;
	li {
		h3:after {
			content: "";
			position: absolute;
			height: 1px;
			background-color: $whiteColor;
			width: 75px;
			bottom: 0;
			left: 0;
		}
		h3 {
			position: relative;
			padding-bottom: 10px;
			margin: 0 0 10px;
		}
		/* width: (100% / 5);
		float: left;
		padding: 0 10px;
		min-height: 200px; */
		height: 200px;
		@include grid(5, 2%);
		@for $i from 1 through 10 {
			.sampleWork-#{$i} {
				background-image: url("../images/img-#{$i}.jpg");
				@include portfolio();
			}
			&:hover .sampleWork-#{$i} {
				background-color: $defaultColor;
				@include transition(all .5s ease-in-out 0s);
			}
		}
		.workDescription {
			padding: 20px;
			position: absolute;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			color: $whiteColor;
			@include transition(all .5s ease-in-out 0s);
		}
		&:hover .workDescription {
			opacity: 1;
			visibility: visible;
		}
	}
}

.ourClients {
	@include parallaxImage($bgImage: url("../images/clients.jpg"), $minHeight: 100vh);
	padding: 70px 0;
	//position: relative;
	/* .container{
	   position:absolute;
	  //left:50%;
	  //top:50%;
	  transform:translate(-50%, -50%);
	  width:100%;
	  height:20vh;
	  //display:block;
	  overflow:hidden;
	} */
	span{
	  width: (100% / 5);
	  float: left;
	  text-align: center;
	  margin-top: 50px;
	  @include mediaQuery(767px) {
	  		width: (90% / 2);
	  		margin-right: 5%;
	  	}
	  //height:100px;
	  //background: #4df5c4;
	  //display: inline-block;
	  //position:relative;
	  //overflow: hidden;
	  //transform:translateX(0px) translate3d(0,0,0);
	  //animation: 4s circleAnimation infinite ease-in-out;
	  //left: 0;
	  //margin-right: 50px;
	  img {
	  	@include borderRadius(100%);
	  	@include transform(perspective(1px) translateZ(0px));
	  	@include transition(transform .3s);
	  	&:hover {
	  		@include transform(scale(1.2) rotate(10deg));
	  	}

	  }
	}

	/* span:nth-child(1){  left: -1200px; }
	span:nth-child(2){  left: 10%; }
	span:nth-child(3){  left: 20%; }
	span:nth-child(4){  left: 40%; }
	span:nth-child(5){  left: 60%; } */

	/* @include keyframes(circleAnimation){
		0% {
		 @include transform(translateX(0));
		}
		100% {
		 @include transform(translateX(1200px));
		}
	} */
}

.contactBg {
	@include parallaxImage($bgImage: url("../images/contact-us.jpg"), $minHeight: 50vh);
}

.contactUs {
	background-color: $secondaryColor;
	padding: 70px 0;
	p {
		font-size: 18px;
		margin: 0 0 30px;
	}
	input, textarea {
		max-width: 100%;
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
		border: 0;
		background-color: darken($whiteColor, 10%);
		border-radius: 4px;
		&:focus {
			background-color: darken($whiteColor, 15%);
		}
	}
	textarea {
		min-height: 93px;
	}
	input[type="button"] {
		max-width: 200px;
		&:hover {
			background-color: $defaultColor;
			color: $whiteColor;
			@include transition(all .5s ease 0s);
			cursor: pointer;
		}
	}
	@include mediaQuery(767px) {
		.twoSection {
			width: 100%;
		}
	}
}

.element-to-hide{
    visibility:hidden;
}

.slideRight {
    visibility: visible;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(8%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

.arrow {
  position: relative;
  width: 100%;
  //border: 5px solid #666;
  border-radius: 2px;
  height: 2.1em;
}

.arrow-status {
  text-align: center;
  padding-top: 3px;
  //padding-right: .5em;
  //background-color: #3aa6d0;
  border-color: white;
  //border-right: .5em solid adjust-lightness(#3aa6d0, 20);
  width: 0%;
  color: white;
  height: 100%;
  line-height: 2em;
  //-webkit-animation: width 3s ease-in;
  border-radius: 0 30px 30px 0;
  //background-image: linear-gradient(-45deg, rgba(255,255,255,0.125) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.125) 50%, rgba(255,255,255,0.125) 75%, transparent 75%, transparent);
    //background-size: 35px 35px;
    background-color: #66bb6a;
    //animation-delay: .3s;
}

.arrow-pointer2 {
  background-color: white;
  display: inline-block;
  width: 1em;
  height: 3em;
  position: relative;
  left: 100%;
  top: -1em;
  margin-left: -2em;
  margin-bottom: -2em;
  border-radius: 0 5px 5px 0;
}

.complete {
  //width: 90%;
  /* border-radius: 0px; */
}

/* .html5 {
	width: 90%;
}
.css3 {
	width: 85%;
} */

.pro {
  width: 75%;
}

.noob {
  width: 25%;
}

/* @-webkit-keyframes width {
    from { width: 0%; }
} */