@mixin clearFix {
	content: "";
	display: block;
	clear: both;
}

@mixin marginAuto {
	margin: {
		right: auto;
		left: auto;
	}
}

@mixin truncate($truncationBoundary) {
	max-width: $truncationBoundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	transform: $transform;
}

@mixin parallaxImage($bgImage, $minHeight) {
	background-image: $bgImage;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	min-height: $minHeight;
	background-repeat: no-repeat;
}

@mixin animation($name, $duration, $delay) {
	animation: $name;
	-webkit-animation: $name;
	-moz-animation: $name;
	animation-duration: $duration;
	animation-fill-mode: forwards;
	animation-delay: $delay;
	animation-name: $name;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin borderRadius($borderRadius...) {
	border-radius: $borderRadius;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
}

@mixin grid($cols, $mgn) {
	float: left;
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ((100% - (($cols - 1) * $mgn)) / $cols);
	&:nth-child(#{$cols}n) {
		margin-right: 0;
	}
}

@mixin portfolio() {
	background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}

@mixin mediaQuery($breakPoint) {
	@media screen and (max-width: $breakPoint) {
		@content;
	}
}






/* %tableCell {
	display: table-cell;
}
@mixin verticalMiddle() {
	@extend %tableCell;
	vertical-align: middle;
} */